# Median income in NYC zipcodes

In [3]:
import pandas as pd
import numpy as np

In [4]:
income = pd.read_csv('..\Data_vys217\Median Income\ACS_14_5YR_B19013_with_ann.csv', 
usecols = ['Id2', 'Estimate; Median household income in the past 12 months \
(in 2014 Inflation-adjusted dollars)' ], header = 1)

income.columns = ['zip_code', 'median_income']

In [5]:
for i in xrange(len(income.median_income)):
    try:
        income.iloc[i, 1] = int(filter(str.isdigit, income.median_income[i]))
    except ValueError:
        income.iloc[i, 1] = np.NaN

In [82]:
# total_income = pd.read_csv('C:\Users\Vishwajeet\Documents\Python Scripts\
# \Homeless\Data\Income\ACS_14_5YR_S1903_with_ann.csv', 
#                             usecols = ['Id2', 'Total; Estimate; Households', 
#                                        'Median income (dollars); Estimate; Households'], 
#                             header = 1)

In [6]:
income

     zip_code median_income
0       10001         81445
1       10002         32966
2       10003         97524
3       10004        123409
4       10005        121840
5       10006        121316
6       10007        250000
7       10009         61154
8       10010        100763
9       10011        104974
10      10012         95577
11      10013         97228
12      10014        109557
13      10016        103960
14      10017        102165
15      10018        100298
16      10019         90174
17      10020           NaN
18      10021        109398
19      10022        115604
20      10023        111265
21      10024        109784
22      10025         71865
23      10026         47318
24      10027         40013
25      10028        115485
26      10029         31446
27      10030         32561
28      10031         38338
29      10032         35979
..        ...           ...
185     11413         80237
186     11414         69088
187     11415         64696
188     11416         58621
189     11417         61617
190     11418         61472
191     11419         55557
192     11420         57784
193     11421         61974
194     11422         83631
195     11423         60161
196     11424           NaN
197     11425           NaN
198     11426         77917
199     11427         69847
200     11428         68077
201     11429         71208
202     11430           NaN
203     11432         49631
204     11433         44799
205     11434         58178
206     11435         52939
207     11436         61544
208     11451           NaN
209     11581         94019
210     11691         39986
211     11692         40298
212     11693         51116
213     11694         75615
214     11697         82230

[215 rows x 2 columns]